APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=calistaadmin
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
VOICE_AGENT_URL=http://76.13.21.74:5003
GOOGLE_CLIENT_ID=800723906866-491db66e055sk60nvdtm81ntjhbajovv.apps.googleusercontent.com

GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_API_KEY=
GROQ_CHAT_MODEL=llama-3.1-8b-instant
GROQ_STT_MODEL=whisper-large-v3-turbo

ELEVENLABS_BASE_URL=https://api.elevenlabs.io
ELEVENLABS_API_KEY=
ELEVENLABS_NUSA_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_flash_v2_5
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
ELEVENLABS_OPTIMIZE_STREAMING_LATENCY=3
ELEVENLABS_NUSA_STABILITY=0.45
ELEVENLABS_NUSA_SIMILARITY=0.90
ELEVENLABS_NUSA_STYLE=0.15
ELEVENLABS_NUSA_SPEED=0.97
ELEVENLABS_NUSA_SPEAKER_BOOST=true

CALISTA_AI_FREE_CREDITS=3000
CALISTA_AI_WEEKLY_CREDITS=6000
CALISTA_AI_MONTHLY_CREDITS=30000

LOUVIN_BASE_URL=https://api.louvin.dev
LOUVIN_API_KEY=
LOUVIN_WEEKLY_PLAN_ID=5dd5cdf8-9c52-43d8-a9fe-261e19e53ee9
LOUVIN_MONTHLY_PLAN_ID=a3f5ddbd-995e-4d78-9a3d-00cf5728e7f7
LOUVIN_YEARLY_PLAN_ID=35e41d3d-16b6-48cf-985a-523a8373a27d
